<div class="tree mt-5">
  <ul>
    <ng-template #recursiveList let-treeNodes>
      <li *ngFor="let user of treeNodes;">

        <div class="node">
          <img [src]="user.user.imagePath" class="card-img-top" [alt]="user.user.name">
          <div class="card-body text-center">
            <h5 class="card-title">{{user.user.name}}</h5>
            <p class="card-text">{{user.user.code}}</p>
          </div>
        </div>
        <ul *ngIf="user.userChildren.length > 0">
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: user.userChildren }"></ng-container>
        </ul>
      </li>
    </ng-template>
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: treeNodes }"></ng-container>
  </ul>
</div>
